@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --body-bg:#f9fafb;
    --form-padding:30px 40px;
    --label-color:#777;
    --input-border-color:#f0f0f0;
    --input-focus-color:#777;
    --success-color:#2ecc71;
    --error-color:#e74e3c;
    --button-color:#3498db;
}
*{
    box-sizing: border-box;
}
body{
    background: var(--body-bg);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background: #fff;
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
h2{
    text-align: center;
}
.form{
    padding: var(--form-padding);
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: block;
    color: var(--label-color);
    margin-bottom: 5px;
}
.form-control input{
    width: 100%;
    border: 2px solid var(--input-border-color);
    border-radius: 4px;
    display: block;
    padding: 10px;
    font-size: 14px;
}
.form-control input:focus{
    outline: 0;
    border-color: var(--input-focus-color);
}
.form-control.success input{
    border-color: var(--success-color);
}

.form-control.error input{
    border-color: var(--error-color);
}
.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--error-color);
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}
.form button{
    display: block;
    width: 100%;
    background: var(--button-color);
    border-color:2px solid var(--button-color);
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
}